body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
}

.counter-div {
  display: flex;
  margin-top: 20px;
}

.counter {
  color: #4caf50;
}

.centered-form {
  text-align: center;
}

.centered-form input {
  padding: 15px;
  margin: 5px;
  width: 500px; /* Set the desired width */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.centered-form button {
  padding: 15px 20px;
  margin: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.centered-form button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
